/* General Styles */
body {
  background-color: #EDEFEE;
  font-family: 'Karla', sans-serif;
}

h1, h2, h3{
  font-family: 'Markazi Text';
}
article > h1{
  text-align: center;
}

article > h2, article > h3 {
  color: #F4CE14;
}

/* Layout Styles */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

/* Logo Styles */
.logo {
  text-align: center;
}
.logo > img {
  width: 20rem;
  height: auto;
  padding: 1rem;
}


/* Heading Styles */
h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

/* Navigation Styles */
nav {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  background-color: #495457;
}
nav li {
  flex: 1;
  text-align: center;
}
nav a {
  display: grid;
  text-decoration: none;
  color: #EDEFEE;
  margin: 1rem 0;
}
nav a:hover {
  color: #495457;
  background-color: #EDEFEE;
  border-radius: 1rem;
}

/* Section Styles */
section {
  display: flex;
  flex-wrap: wrap;
}

/* Article Styles */
article {
  flex: 1;
  margin: 1rem;
  background-color: #495457;
  padding-right: 0.1rem;
  color: #EDEFEE;
}
article > h2, article > h3 {
  text-align: center;
}
article > p {
  text-align: justify;
  padding: 1rem;
}
article > img {
  width: 100%;
  height: auto;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border: #000000 solid 0.01rem;
}


/* Footer Styles */
footer {
  display: flex;
  flex-wrap: wrap;
  background-color: #495457;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  padding-top: 1rem;
  color: #EDEFEE;
}
footer > div {
  flex: 1;
  padding: 1rem;
}
footer > div > ul {
  list-style: none;
}

/* Promotion Styles */
.promotion {
  display: flex;
  align-items: center;
}

/* Content Styles */
.content {
  flex: 1;
  padding: 1rem;
}
.content h1 {
  font-size: 40px;
  color: #F4CE14;
}

/* Image Styles */
.food-image {
  max-width: 20%;
  float: right;
  border-radius: 1rem;
}

/* Menu Item Styles */
.menu-items > article {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

/* New styles for the "This Week's Specials!" heading */
.specials-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.specials-section h2 {
  flex: 1;
  color: #000000;
}

button{
  background-color: #F4CE14;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  color: #000000;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.confirmed > h1{
  text-align: center;
}
